In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('hiring1.csv')

In [3]:
dataset.isna().sum()

Index              0
experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

In [4]:
dataset['experience'].fillna(0,inplace=True)

In [5]:
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [6]:
X = dataset.iloc[:,:3]

In [7]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [8]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [9]:
X

   Index  experience  test_score
0      0           0    8.000000
1      1           0    8.000000
2      2           5    6.000000
3      3           2   10.000000
4      4           7    9.000000
5      5           3    7.000000
6      6          10    7.857143
7      7          11    7.000000

In [10]:
y = dataset.iloc[:,-1]

In [11]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [12]:
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
pickle.dump(regressor, open('model.pkl','wb'))